body {
    margin: 10px;
    background-color: #202023;
    color: rgb(249, 249, 250)
}

#selected-text {
    border: 1px dashed lightgrey;
    min-height: 30px; 
}

#server-response {
    border: 1px dashed lightgrey;
    min-height: 30px;
    font-family: monospace;
}

.error-message {
    font-style: italic;
    color: rgb(255, 64, 64)
}
